// -----------------------------------------------------------------------------
// IMAGES
// -----------------------------------------------------------------------------

/**
 * Images should always be constrained to the size of their container in
 * responsive layouts.
 *
 * 1. Undo the `max-width` declaration inside Google Maps embeds. The `gm-style`
 *    class is automatically added.
 */
img {
    max-width: 100%;
    user-select: none;

    .gm-style & {
        max-width: none; /* [1] */
    }
}
