// -----------------------------------------------------------------------------
// LINKS
// -----------------------------------------------------------------------------

/**
 * Default link styles – change these to suit project requirements.
 */
a {
    text-decoration: underline;

    &:link {
        color: $color--link;
    }

    &:visited {
        color: lighten($color--link, 15%);
    }

    &:hover {
        text-decoration: none;
        color: $color--link;
    }

    /**
     * 1. It’s poor practice to remove focus indication from active or focussed
     *    links. Please leave this property (or replace with equally accessible
     *    alternative style).
     */
    &:active,
    &:focus {
        outline: 1px dotted $color--link; /* [1] */
        color: $color--link;
    }
}



/**
 * A button link can be used for styling a `<button>` element to look like a
 * normal link – should always be used in place of `<a href="#">...</a>` for
 * triggering a JS action. Can be used in conjunction with `.subtle-link` to
 * remove color and underline properties.
 */
.button-link {
    border: 0;
    padding: 0;
    font: inherit;
    line-height: inherit;
    text-decoration: underline;
    color: $color--link;
    background-color: transparent;
    cursor: pointer;
}



/**
 * A subtle link inherits its color and text decoration (usually none) from its
 * parent.
 */
.subtle-link {
    text-decoration: inherit;
    color: inherit;
}
