// -----------------------------------------------------------------------------
// TYPE
// -----------------------------------------------------------------------------

/**
 * Base
 */
html {
    font-size: ($base-font-size / 16px) * 100%;
    line-height: $base-line-height / $base-font-size;
    color: #222;
}



/**
 * Families
 *
 * For each font mixin defined here, make sure each property is negated (set
 * to its default value, usually `inherit`) in all other font mixins.
 */
@mixin heading-text() {
    font-family: Merriweather, serif;
    font-weight: bold;
    font-style: inherit;
    text-transform: uppercase;
}

@mixin body-text() {
    font-family: Lato, sans-serif;
    font-weight: inherit;
    font-style: inherit;
    text-transform: inherit;
}

@mixin quote-text() {
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: inherit;
    font-style: italic;
    text-transform: inherit;
}

h1, h2, h3, h4, h5, h6,
.heading-text {
    @include heading-text();
}

html,
.body-text {
    @include body-text();
}

blockquote {
    @include quote-text();
}



/**
 * Sizes
 */
@mixin font-size($keyword) {
    $size: map-get($font-sizes, $keyword);

    @if $size == null {
        @warn 'Font size ‘#{$keyword}’ does not exist';
    } @else {
        @include rem-font-size($size);
    }
}

/**
 * Standard sizes
 */
h1, .alpha   { @include font-size(alpha); }
h2, .beta    { @include font-size(beta); }
h3, .gamma   { @include font-size(gamma); }
h4, .delta   { @include font-size(delta); }
h5, .epsilon { @include font-size(epsilon); }
h6, .zeta    { @include font-size(zeta); }

/**
 * Non-standard sizes
 */
.giga { @include font-size(giga); }
.mega { @include font-size(mega); }
.kilo { @include font-size(kilo); }

small, .milli { @include font-size(milli); }



/**
 * Opt-in typography container
 */
.article {

    ul {
        list-style: disc;
        margin: 0 0 1em;
    }

    ol {
        list-style: decimal;
        margin: 0 0 1em;
    }
}
