// -----------------------------------------------------------------------------
// HELPER CLASSES
// -----------------------------------------------------------------------------

/**
 * A quick way of hiding or showing content depending on JavaScript being
 * enabled or not. This requires the class `no-js` to be added to the <html>
 * element and for JavaScript to replace this class with `js` at runtime. If
 * using Modernizr (http://modernizr.com/) it will automatically replace this
 * class for you.
 */
.no-js .js-only {
    display: none;
}

.js .js-hidden {
    display: none;
}



/**
 * Accessible hidden elements. Will be hidden from display but still audible
 * to screen readers. Useful for hiding a form label, for example, when an
 * additional prompt is visible.
 */
.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    border: 0;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
}
