// -----------------------------------------------------------------------------
// MEDIA OBJECT
// -----------------------------------------------------------------------------

.media {
    @extend .clearfix;
    display: block;
}

    .media__img {
        float: left;
        margin-right: $gutter / 2;
    }

    .media__img--rev {
        float: right;
        margin-left: $gutter / 2;
    }

        .media__img img,
        .media__img--rev img {
            display: block;
        }

    .media__body {
        overflow: hidden;
    }

        .media__body,
        .media__body > :last-child {
            margin-bottom: 0;
        }
