// -----------------------------------------------------------------------------
// ASPECT RATIO
//
// Maintains the aspect ratio of a box. Primary use case is for enabling fluid
// media embeds, eg from YouTube (use `.ratio--video` or `.ratio--16x9`).
//
// Usage
//
//   <div class="ratio  ratio--video">
//       <iframe class="ratio__content" src="..."></iframe>
//   </div>
// -----------------------------------------------------------------------------

/// Returns a percentage for the ratio x:y.
///
/// @param {Number} $x
/// @param {Number} $y
/// @return {Number}
/// @author Sam Hastings
@function ratio-to-percentage($x, $y) {
    @return ($y / $x) * 100%;
}



/**
 * Default aspect ratio is 1:1 (square)
 */
.ratio {
    position: relative;
    padding-top: ratio-to-percentage(1, 1);
}

/**
 * Other aspect ratios
 */
.ratio--16x9,
.radio--video {
    padding-top: ratio-to-percentage(16, 9);
}

.ratio--4x3 {
    padding-top: ratio-to-percentage(4, 3);
}

    .ratio__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
