// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------

/**
 * Settings – override in `_settings.scss`
 */
$disabled-button-bg: #eee !default;
$disabled-button-fg: #999 !default;



/**
 * Standard button
 *
 * 1. Remove default styles from `<button>` elements.
 * 2. Ensure `a:*` pseudo classes don’t override button styles.
 * 3. Remove extra height from `<button>` elements in Firefox.
 */
.button {
    display: inline-block;
    box-sizing: border-box;
    border: 0; /* [1] */
    text-align: center;
    cursor: pointer;

    &,
    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none; /* [2] */
        background-color: $color--link; /* [2] */
    }

    &::-moz-focus-inner {
        border: 0; /* [3] */
        padding: 0; /* [3] */
    }
}



/**
 * Full-width button
 *
 * 1. 100% width required to make `<button>` elements fill container.
 */
.button--full-width {
    display: block;
    width: 100%; /* [1] */
}



/**
 * Disabled button
 */
.button--disabled,
.button:disabled {
    color: $disabled-button-fg;
    background-color: $disabled-button-bg;
    pointer-events: none;
}



/**
 * Button themes (`.button--primary` should be the default button style and
 * lives in the default `.button` class).
 */
.button--secondary {

}

.button--danger {

}

.button--border {

}



/**
 * Button sizes (`.button--medium` should be the default button size and lives
 * in the default `.button` class).
 */
.button--large {

}

.button--small {

}
