// -----------------------------------------------------------------------------
// FORMS
// -----------------------------------------------------------------------------

/**
 * Default text input style
 */
.input {

}

.input--textarea {
    height: 100px;
    min-height: 100px;
    resize: vertical;
}



/**
 * Default label style
 *
 * 1. `cursor` property recommended for accessibility reasons.
 */
.label {
    cursor: pointer; /* [1] */
}
