// -----------------------------------------------------------------------------
// NAVIGATION
// -----------------------------------------------------------------------------

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;

    > li {
        display: inline-block;

        > a {
            display: block;
        }
    }

    a {
        text-decoration: none;
    }
}



/**
 * Inline menu
 */
.nav--inline {
    display: inline-block;
}



/**
 * Stacked menu
 */
.nav--stacked {

    > li {
        display: list-item;
    }
}



/**
 * Stretch menu (all items expand to fill container)
 */
.nav--stretch {
    display: table;
    width: 100%;
    text-align: center;

    > li {
        display: table-cell;
    }
}
