// -----------------------------------------------------------------------------
// WRAPPER
// -----------------------------------------------------------------------------

.wrapper {
    position: relative;
    max-width: $wrapper-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $wrapper-gutter;
    padding-right: $wrapper-gutter;
}
